{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="contact-hero reveal">
    <h1>Contact</h1>
    <p class="contact-tagline">
        Let’s create something meaningful together.
    </p>
</section>

<section class="contact-section reveal">
    <div class="contact-grid">

        
        <div class="contact-info">
            <h2>Let’s Work Together</h2>
            <p>
                Have a project in mind? Whether it’s food, fashion,
                or aerial photography, we’d love to hear about it.
            </p>

            <p>
                Share your vision, timeline, and requirements —
                we’ll respond with the next steps.
            </p>
        </div>

        <form method="post" class="contact-form">
    {% csrf_token %}

    {{ form.name }}
    {{ form.email }}
    {{ form.message }}

    <button type="submit">Send Inquiry</button>

    {% if success %}
        <p class="success-msg">
            Thank you! We’ll get back to you shortly.
        </p>
    {% endif %}
</form>


    </div>
</section>

{% endblock %}
