{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>Visual storytelling for food, fashion & aerials</h1>
        <p>Crafting premium photography experiences through imagery</p>
    </div>
</section>


<section class="grid-section reveal">
    <div class="card">
        <img src="{% static 'images/food/food1.png' %}" alt="Food Photography" loading="lazy" class="lazy-img">
        <h3>Food Photography</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/fashion/fashion1.png' %}" alt="Fashion Photography" loading="lazy" class="lazy-img">
        <h3>Fashion & Modeling</h3>
    </div>
    <div class="card">
        <img src="{% static 'images/drone/drone1.png' %}" alt="drone Photography" loading="lazy" class="lazy-img">
        <h3>Drone Photography</h3>
    </div>
</section>
{% endblock %}
