{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="project-hero reveal"
     style="background-image:url('{{ project.cover_image.url }}')">
    <div class="hero-content">
        <h1>{{ project.title }}</h1>
        <p>{{ project.short_description }}</p>
    </div>
</section>

<section class="project-description reveal">
    <p>{{ project.description }}</p>
</section>

<section class="grid-section reveal">
    {% for image in project.images.all %}
        <img src="{{ image.image.url }}"
             alt="{{ image.caption }}"
             class="lightbox-img lazy-img"
             loading="lazy">
    {% endfor %}
</section>

{% endblock %}
